#gold-filled-explained {
    margin: 0 5%;
    box-sizing: border-box;
  }
  .gold-filled-quick-list {
    display: flex;
    flex-direction: column;
  }
  .gold-filled-comparision {
    flex: 1;
    background-color: rgb(220, 220, 230);
    border-radius: 5px;
  }
  .gold-filled-comparision:first-child {
    margin-bottom: 15px;
  }
  .gold-filled-comparision h4{
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 0;
  }
  .gold-filled-comparision ul li{
    line-height: 1.3;
  }
  .more-gold-filled-styles{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .gold-filled-product img{
    flex: 1;
    width: 100%;
    height: auto;
    border-radius: 3px solid pink;
  }
  @media only screen and (min-width: 640px), and (max-width: 769px) {
    #gold-filled-explained{
      max-width: 70%;
      margin: 0 auto;
    }
    .gold-filled-quick-list {
      flex-direction: row;
    }
    .gold-filled-comparision:first-child {
      margin-bottom: 0px;
      margin-right: 10px;
    }
    .more-gold-filled-styles{
      flex-direction: row;
    }
  }
  @media only screen and (min-width: 770px), and (max-width: 1024px){
    .gold-filled-comparision{
      margin: 0 auto;
  max-width: 30%;
    }
    .gold-filled-product img{
      max-width: 330px;
    }
    .more-gold-filled-styles{
      justify-content: space-between;
    }
  }
  